body {
    background-image: url('https://i.stack.imgur.com/jGlzr.png');
}

.chessboard {
    width: 600px;
    height: 600px;
    margin: 40px auto;
}

.header {
    float: left;
    width: 60px;
    height: 60px;
    font-size: 20px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    cursor: pointer;
    color: #fff;
    position: relative;
    top: 20px;
    text-shadow: 2px 2px #000;
}

.black {
    float: left;
    width: 60px;
    height: 60px;
    background-color: #999;
    font-size: 45px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    cursor: pointer;
}

.white {
    float: left;
    width: 60px;
    height: 60px;
    background-color: #fff;
    font-size: 45px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    cursor: pointer;
}
